# Copy file này thành .env.import rồi điền thông số Aiven
DB_HOST=mysql-281198f8-phongtrai465-059b.k.aivencloud.com
DB_PORT=26855
DB_USER=avnadmin
DB_PASSWORD=PASTE_PASSWORD_HERE
DB_NAME=defaultdb
DB_SSL=true
